@import '../../../style';

@mixin button {
  background-color: $accent-color;
  border: $button-border;
  border-radius: $button-border-radius;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
  filter: $button-shadow;
  outline: $outline;
  color: $button-text-color;

  &:hover {
    background-color: $accent-hover-color;
    transition: $button-hover;
  }
}

button {
  @include button;

  a {
    text-decoration: none;
    color: $button-text-color;
  }
}


.button-link {
  @include button;

  text-decoration: none;
  text-align: center;
}
