@import '../../style.scss';

h1 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: $content-color;
}

p {
  color: $content-color;
  font-size: 1.2rem;
  text-align: $main-text-align;

  @include margin-content;

  span {
    color: $accent-color;
    font-weight: bold;
  }
}

.button-container-column {
  display: flex;
  flex-direction: column;

  @include margin-content;
}
