/* ====== VARS ==================================== */

// Device size
$desktop-width: 1280px;
$sm-desktop-width: 1024px;
$table-width: 768px;
$sm-table-width: 640px;
$phone-width: 480px;
$sm-phone-width: 320px;

// Elements size
$icon-size: 40px;

// Font

$main-font: 'Work Sans', Helvetica, sans-serif;

// Colors

$accent-color: #6FCF97;
$accent-hover-color: #31965B;
$header-color: #333333;
$content-color: #777777;
$social-icon-no-hover-color: #E0E0E0;
$button-text-color: #FFFFFF;

// Indents
$bg-content-indent: 4rem;
$sm-content-indent: 2rem;
$vsm-content-indent: 1rem;
$none-content-indent: 0rem;

// Transitions

$button-hover: 250ms;
$icon-hover: 250ms;

// Shadows

$button-shadow: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.1));

// Border

$button-border: none;
$button-border-radius: 5px;
$outline: none;

// Text
$main-text-align: justify;



/* ====== MIXINS ================================== */

@mixin flex-column-space-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin margin-content {
  margin: $vsm-content-indent $none-content-indent;
}

/* ================================================ */



html {
  font-size: 18px;

  @media screen and ( max-width: $sm-table-width ) {
    font-size: 16px;
  }

  @media screen and ( max-width: $sm-phone-width ) {
    font-size: 14px;
  }
}

html, body, #root {
  height: 100%;
  min-height: 300px;
  margin: 0;

  font-family: $main-font;
}
