@import '../../../style';

svg {
  fill: $social-icon-no-hover-color;
  padding: 0.25rem;
  cursor: pointer;
  width: $icon-size;
  height: $icon-size;

  @include margin-content;

  &:hover {
    fill: $accent-hover-color;
    transition: $icon-hover;
  }
}
